:root {
    --cor-primaria: #1c1c1c;
    --cor-secundaria: #c49b3d;
    --cor-fundo: #f5f5f5;
    --cor-texto: #333;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: 'Poppins', sans-serif !important; 
}

ul{
    list-style-type: none !important;
}

/* Navbar */
.navbar {
    background-color: var(--cor-primaria) !important;
}

.navbar .navbar-brand {
    color: var(--cor-secundaria) !important;
    font-size: 20px;
    font-weight: bold;
}

.card {
    border-radius: 15px !important;
}

/* CARD EVENTO */
.evento-card {
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: 0.3s;
}

.evento-card:hover {
    transform: translateY(-3px);
}

/* COLUNA DATA */
.evento-data {
    background-color: var(--cor-primaria);
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px;
}

/* DIA */
.evento-data h2 {
    font-size: 42px;
    font-weight: bold;
    margin: 0;
}

/* MÊS */
.evento-data span {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* TÍTULO */
.evento-titulo {
    font-size: 28px;
    font-weight: 700;
    color: var(--cor-primaria);
    margin-bottom: 10px;
}

/* INFORMAÇÕES */
.evento-info {
    font-size: 15px;
    font-weight: 600;
    color: #777;
    margin-bottom: 12px;
}

/* DESCRIÇÃO */
.evento-descricao {
    font-size: 16px;
    line-height: 1.6;
    color: #444;
}

/* Botões personalizados */
.btn-custom {
    background-color: var(--cor-secundaria);
    color: white;
    border: none;
}

.btn-custom:hover {
    background-color: #a8832f !important;
}

.efeito-btn {
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

/* Hover */
.efeito-btn:hover {
    transform: translateY(-3px);
}

/* Clique */
.efeito-btn:active {
    transform: scale(0.96);
}

.efeito-btn {
    position: relative;
    overflow: hidden;
}

.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple-animation 0.6s linear;
    background: rgba(255,255,255,0.5);
    width: 100px;
    height: 100px;
}

@keyframes ripple-animation {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

/* MENU LATERAL */
.menu-lateral {
    position: sticky;
    top: 20px;

    height: fit-content;

    padding: 20px;

    border-right: 1px solid #ddd;
}


/* LINKS */
.menu-lateral .nav-link {
    color: var(--cor-primaria);
    font-weight: 500;

    margin-bottom: 10px;

    transition: 0.3s;
}

.menu-lateral .nav-link:hover {
    color: var(--cor-secundaria);

    transform: translateX(5px);
}

/* CONTEÚDO */
.conteudo-historia {
    padding: 20px 40px;
}

/* TÍTULOS */
.conteudo-historia h2 {
    font-weight: 700;

    margin-bottom: 20px;

    color: var(--cor-primaria);
}

/* TEXTO */
.conteudo-historia p {
    line-height: 1.8;

    font-size: 17px;

    color: var(--cor-texto)
}

.instrumento-img { 
    width: 60% !important;;

    max-width: 280px;

    height: 280px;

    object-fit: cover;

    border-radius: 16px;

    transition: 0.3s;

    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.instrumento-img:hover {
    transform: scale(1.03);
}
.evento-img {
    width: 100%;

    height: 250px;

    object-fit: contain;

    border-radius: 16px 16px 0 0;

    display: block;
}

.collapse:not(.show) {
    display: none !important;
}

.collapse.show {
    display: block !important;
}

@media (max-width: 768px) {

    .navbar .btn {
        width: 100%;

        margin-bottom: 10px;
    }

    .navbar-collapse {
        margin-top: 20px;
    }


}

@media (max-width: 768px) {

    .menu-lateral {

        position: relative;

        top: 0;

        border-right: none;

        border-bottom: 1px solid #ddd;

        margin-bottom: 20px;

        padding-bottom: 15px;
    }

    .conteudo-historia {

        padding: 10px;
    }

    .conteudo-historia h2 {

        font-size: 24px;
    }

    .conteudo-historia p {

        font-size: 15px;

        line-height: 1.7;
    }

}