{% extends 'home.html' %}

{% block content %}

<h1 class="mb-4">Cadastrar Aluno</h1>

<form method="POST" class="card p-4 shadow-sm">
    {% csrf_token %}

    <div class="mb-3">
        <label class="form-label">Nome</label>
        <input type="text" name="nome" class="form-control" placeholder="Digite o nome do aluno" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Idade</label>
        <input type="number" name="idade" class="form-control" placeholder="Digite a idade" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Telefone</label>
        <input type="text" name="telefone" class="form-control" placeholder="(00) 00000-0000">
    </div>

    <div class="mb-3">

        <label>Graduação</label>

        <select name="graduacao" class="form-select">

            <option value="Aluno">Aluno</option>

            <option value="Graduado">Graduado</option>

            <option value="Monitor">Monitor</option>

            <option value="Instrutor">Instrutor</option>

            <option value="Professor">Professor</option>

            <option value="Contra-mestre">Contra Mestre</option>

            <option value="Mestrando">Mestrando</option>

            <option value="Mestre">Mestre</option>

        </select>

    </div>

    <div class="mb-3">

        <label>Corda</label>

       <select name="corda" class="form-select" id="">

        <option value="verde">Verde</option>
        <option value="verde_amarelo">Verde e Amarelo</option>
        <option value="amarelo">Amarelo</option>
        <option value="amarelo_laranja">Amarelo e Laranja</option>
        <option value="laranja">Laranja</option>
        <option value="verde_azul">Verde e Azul</option>
        <option value="amarelo_azul">Amarelo e Azul</option>
        <option value="laranja_azul">Laranja e Azul</option>
        <option value="azul_roxo">Azul e Roxo</option>
        <option value="roxa">Roxa</option>
        <option value="roxa_marrom">Roxa e Marrom</option>
        <option value="marrom">Marrom</option>
        <option value="marrom_vermelho">Marrom e Vermelho</option>
        <option value="vermelha">Vermelha</option>
        <option value="vermelha_branca">Vermelha e Branca</option>
        <option value="branca">Branca</option>
       </select>

    </div>

    <div class="d-flex gap-2">
        <button type="submit" class="btn btn-success">Cadastrar</button>
        <a href="/alunos/" class="btn btn-secondary">Cancelar</a>
    </div>

</form>

{% endblock %}