{% extends 'home.html' %}

{% block content %}

<h1 class="mb-4">Cadastrar Evento</h1>

<form method="POST" class="card p-4">
    {% csrf_token %}

    <div class="mb-3">
        <label class="form-label">Nome do Evento</label>
        <input type="text" name="nome" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Data</label>
        <input type="date" name="data" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Descrição</label>
        <textarea name="descricao" class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">Link da localização (Google Maps)</label>
        <input type="url" name="localizacao" class="form-control" placeholder="https://maps.app.goo.gl/...">
    </div>

    <div class="mb-3">
        <label class="form-label">Link da Imagem do Evento (URL)</label>
        <input type="url" 
               name="imagem" 
               class="form-control" 
               placeholder="https://link-da-imagem.com/foto.jpg">
    </div>

    <button type="submit" class="btn btn-success">Cadastrar</button>
    <a href="/" class="btn btn-secondary">Cancelar</a>
</form>

{% endblock %}