{% extends 'home.html' %}

{% block content %}

<h1 class="mb-4">Dashboard</h1>

{% if request.user.is_superuser %}
<div class="row">

    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <h5>Total de Alunos</h5>
                <h2>{{ total_alunos }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <h5>Mensalidades Pagas</h5>
                <h2>{{ total_pagas }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <h5>Não Pagas</h5>
                <h2>{{ total_pendentes }}</h2>
            </div>
        </div>
    </div>

</div>

<br>

<div class="row">

    <div class="col-md-6">
        <div class="card text-center bg-success text-white">
            <div class="card-body">
                <h5>Total Recebido</h5>
                <h2>R$ {{ total_recebido }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card text-center bg-danger text-white">
            <div class="card-body">
                <h5>Total Pendente</h5>
                <h2>R$ {{ total_pendente_valor }}</h2>
            </div>
        </div>
    </div>

</div>
{% endif %}

<br>
{% if request.user.is_superuser %}
<h3>Inadimplentes</h3>

<table class="table table-striped">
    <tr>
        <th>Aluno</th>
        <th>Mês</th>
        <th>Valor</th>
    </tr>

    {% for m in inadimplentes %}
    <tr>
        <td>{{ m.aluno.nome }}</td>
        <td>{{ m.mes_referencia }}</td>
        <td>R$ {{ m.valor }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">Nenhum inadimplente 🎉</td>
    </tr>
    {% endfor %}
</table>
{% endif %}


<h3 class="mt-5 mb-3">Eventos</h3>

{% if request.user.is_superuser %}
<a href="{% url 'cadastrar_evento' %}" class="btn btn-primary mb-4">
    + Novo Evento
</a>
{% endif %}

<div class="container mt-4">

    <div class="row">
        {% for evento in eventos %}
        
        <div class="col-12 mb-4">
            <div class="card">

                <div class="row g-0">

                    <!-- COLUNA DATA -->
                    <div class="col-md-2 text-center border-end d-flex flex-column justify-content-center">
                        <h2>{{ evento.data|date:"d" }}</h2>
                        <span>{{ evento.data|date:"M" }}</span>
                    </div>

                    <!-- CONTEÚDO -->
                    <div class="col-md-10">
                        <div class="card-body">

                            <!-- TÍTULO -->
                            <h4 class="card-title">
                                {{ evento.nome }}
                            </h4>

                            <!-- INFORMAÇÕES -->
                            <p class="mb-1">
                                <strong>Local:</strong> {{ evento.local|default:"A definir" }}
                            </p>

                            <p class="mb-2">
                                <strong>Formato:</strong> {{ evento.formato|default:"A definir" }}
                            </p>

                            <!-- DESCRIÇÃO -->
                            <p class="card-text">
                                {{ evento.descricao|default:"Sem descrição" }}
                            </p>

                            <!-- BOTÕES -->
                            <div class="d-flex gap-2">
                                <button class="btn btn-warning btn-sm">Me avisa</button>
                                <button class="btn btn-outline-dark btn-sm">Como chegar</button>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>

        {% endfor %}
    </div>

</div>


{% endblock %}