{% extends 'home.html' %}

{% block content %}

<div class="container">

    {% if evento.imagem %}
    <img src="{{ evento.imagem }}" class="img-fluid" alt="{{ evento.titulo }}">
{% else %}
    <img src="https://images.unsplash.com/photo-1599447421416-3414500d18a5?q=80&w=600" class="img-fluid" alt="Capoeira Padrão">
{% endif %}
    <h2 class="mb-3">{{ evento.nome }}</h2>

    <p><strong>Data:</strong> {{ evento.data }}</p>
    <p><strong>Local:</strong> {{ evento.local|default:"A definir" }}</p>


    <hr>

    <p>{{ evento.descricao }}</p>

    {% if evento.localizacao %}
        <a href="{{ evento.localizacao }}" target="_blank" class="btn btn-dark">
            Como chegar
        </a>
    {% endif %}

    <a href="/" class="btn btn-secondary">Voltar</a>

</div>

{% endblock %}