{% extends 'home.html' %}

{% block content %}

    <h1>Lista de Alunos</h1>

    <a href="/cadastrar-aluno/" class="btn btn-primary mb-3">Cadastrar novo aluno</a>

    <table class="table table-striped">
        <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>Telefone</th>
            <th>Ações</th>
        </tr>

        {% for aluno in alunos %}
        <tr>
            <td>{{ aluno.nome }}</td>
            <td>{{ aluno.idade }}</td>
            <td>{{ aluno.telefone }}</td>
            <td>
                <a href="{% url 'excluir_aluno' aluno.id %}" class="btn btn-danger btn-sm">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="/">Voltar ao dashboard</a>

    {% endblock %}