{% extends 'home.html' %}

{% block content %}

    {% if request.user.is_superuser %}
        <div class="row">

            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h5>Total de Alunos</h5>
                        <h2>{{ total_alunos }}</h2>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h5>Mensalidades Pagas</h5>
                        <h2>{{ total_pagas }}</h2>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h5>Não Pagas</h5>
                        <h2>{{ total_pendentes }}</h2>
                    </div>
                </div>
            </div>

        </div>

        <br>

        <div class="row">

            <div class="col-md-6">
                <div class="card text-center bg-success text-white">
                    <div class="card-body">
                        <h5>Total Recebido</h5>
                        <h2>R$ {{ total_recebido }}</h2>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card text-center bg-danger text-white">
                    <div class="card-body">
                        <h5>Total Pendente</h5>
                        <h2>R$ {{ total_pendente_valor }}</h2>
                    </div>
                </div>
            </div>

        </div>
    {% endif %}

    <br>

    <form method="GET" class="mb-4">

    <div class="row">

        <div class="col-md-4">

            <select name="mes" class="form-select">

                <option value="">Todos os meses</option>

                <option value="01/2026">Janeiro</option>
                <option value="02/2026">Fevereiro</option>
                <option value="03/2026">Março</option>
                <option value="04/2026">Abril</option>
                <option value="05/2026">
                   Maio
                </option>
                <option value="06/2026">Junho</option>
                <option value="07/2026">Julho</option>
                <option value="08/2026">Agosto</option>
                <option value="09/2026">Setembro</option>
                <option value="10/2026">Outubro</option>
                <option value="11/2026">Novembro</option>
                <option value="12/2026">Dezembro</option>

            </select>

        </div>

        <div class="col-md-2">

            <button type="submit" class="btn btn-custom w-100">
                Filtrar
            </button>

        </div>

    </div>

    </form>

    <h1>Controle de Mensalidades</h1>

    <a href="/cadastrar-mensalidade/" class="btn btn-primary mb-3">Cadastrar Mensalidade</a>

    <table class="table table-bordered">
        <tr>
            <th>Aluno</th>
            <th>Mês</th>
            <th>Valor</th>
            <th>Status</th>
            <th>Ação</th>
        </tr>

        {% for m in mensalidades %}
        <tr>
            <td>{{ m.aluno.nome }}</td>
            <td>{{ m.mes_referencia }}</td>
            <td>R$ {{ m.valor }}</td>
            
            <td>
                {% if m.status == 'PAGO' %}
                    <span class="badge bg-success">Pago</span>
                {% else %}
                    <span class="badge bg-danger">Não Pago</span>
                {% endif %}
            </td>

            <td>
                {% if m.status == 'PAGO' %}
                    <a href="{% url 'marcar_pendente' m.id %}" class="btn btn-success btn-sm">
                        Desfazer Pagamento
                    </a>
                {% endif %}
                    <a href="{% url 'marcar_pago' m.id %}" class="btn btn-warning btn-sm">
                        Marcar como Pago
                    </a>
            </td>
        </tr>
        {% endfor %}

    </table>


</body>
{% endblock %}